*{margin:0; padding:0; }
html{ height:100%; }
a{ font-size:inherit; color: inherit; text-decoration: none }
a:hover{text-decoration:underline;}
.ui-texto-destaque{font-size: 15pt;font-weight: bolder }
.ui-texto-destaque-ultra{font-size:25pt!important;color:#0074c7;  }
.ui-alinhamento-formularioCentral{width: 800px; margin: auto;}

.semBorda{
    border: none !important;
}

.avatarEmail{

    width: 50px;
    height: 50px;
    border-radius: 50%;

}



