/*/// BACKGROUND E FONT ///*/


/* ///DOCK MENU/// */

#dock-container {
    position: fixed;
    bottom: 0;
    left:0;
    text-align: left;
    width: 100%;
}

#dock {
    position: relative;
    display: inline-block;
    -webkit-perspective: 400;
    -moz-perspective: 400;
}

#dock ul {
    font-size: 14px;
    padding: 0 30px;
    margin: 0;
}

#dock li {
    list-style-type: none;
    display: inline-block;
    position: relative;
}

#dock li span.span-element-on-click {
    display: none;
    position: absolute;
    color: #fff;
    bottom: 140px;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,.75);
    padding: 4px 0;
    border-radius: 12px; /* webkit nightly */
    -webkit-border-radius: 12px; /* for safari */
    -moz-border-radius: 12px;
}

#dock li:hover span.span-element-on-click {
    display: block;
}

#dock li img.img-element-on-click {
    width: 64px;
    height: 64px;
    margin-bottom: 10px;
    -webkit-box-reflect: below 2px
        -webkit-gradient(linear, left top, left bottom, from(transparent),
        color-stop(0.7, transparent), to(rgba(255,255,255,.5)));
    -webkit-box-reflect: below 2px -webkit-linear-gradient(top, transparent, rgba(255,255,255,.3));
    -webkit-transition: all 0.3s;
    -webkit-transform-origin: 50% 100%;
    -moz-transition: all 0.4s;
    -moz-transform-origin: 50% 100%;
    -o-transition: all 0.3s;
    -o-transform-origin: 50% 100%;
}

#dock li:hover img.img-element-on-click {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
    margin: 0 2em 10px;
}

/* one element after and element before (with JS)*/
#dock li:hover + li img.img-element-on-click,
#dock li.prev img.img-element-on-click {
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -o-transform: scale(1.4);
    margin: 0 1.4em 10px;
}

#dock .base {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    z-index: -10;
    background-color: #888;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#333), to(#ccc));
    background-image: -webkit-linear-gradient(top, #333, #999);
    background-image: -moz-linear-gradient(top, #333, #999); /* Gradient works on FF 3.6+ */
    opacity: .5;
    border-bottom: 2px #aaa solid;
    -webkit-transform-origin: 50% 100%;
    -webkit-transform: rotateX(55deg); /* 3d - works on webkit only */
    -moz-transform-origin: 50% 100%;
    -moz-transform: rotateX(55deg); /* not supported on current 3.7 */
    -o-transform-origin: 50% 100%;
    -o-transform: rotateX(55deg); /* not supported on current 10.6 */
}

/* SPONSORSHIP PUSH MENU UP FULL WIDTH*/
/* The side navigation menu */
.sponsorshipsidenavfullwidth {
    height: 0%; /* 0 height - change this with JavaScript */
    width: 100%; /* 100% Full-width */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    bottom: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.7s; /* 0.7 second transition effect to slide in the sidenav */
}

.sponsorshipsidenavfullwidth h1{
    color:#fff;
}

/* The navigation menu links */
.sponsorshipsidenavfullwidth a {
    padding: 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sponsorshipsidenavfullwidth a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sponsorshipsidenavfullwidth .spclosebtnfw {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.spmouseovermenufw {
    position:relative;
    bottom:0;
    left:0;
    color: #fff;
    cursor:pointer;
}



/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sponsorshipsidenavfullwidth a {font-size: 18px;}
}

/* EVENTS PUSH MENU UP FULL WIDTH*/
/* The side navigation menu */
.eventssidenavfullwidth {
    height: 0%; /* 0 height - change this with JavaScript */
    width: 100%; /* 100% Full-width */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    bottom: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.7s; /* 0.7 second transition effect to slide in the sidenav */
}

.eventssidenavfullwidth h1{
    color:#fff;
}

/* The navigation menu links */
.eventssidenavfullwidth a {
    padding: 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.eventssidenavfullwidth a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.eventssidenavfullwidth .evclosebtnfw {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.evmouseovermenufw {
    position:relative;
    bottom:0;
    left:0;
    color: #fff;
    cursor:pointer;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .eventssidenavfullwidth a {font-size: 18px;}
}

/* BOT-STORE PUSH MENU UP FULL WIDTH*/
/* The side navigation menu */
.botstoresidenavfullwidth {
    height: 0%; /* 0 height - change this with JavaScript */
    width: 100%; /* 100% Full-width */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    bottom: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.7s; /* 0.7 second transition effect to slide in the sidenav */
}

.botstoresidenavfullwidth h1{
    color:#fff;
}

/* The navigation menu links */
.botstoresidenavfullwidth a {
    padding: 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.botstoresidenavfullwidth a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.botstoresidenavfullwidth .bsclosebtnfw {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.bsmouseovermenufw {
    position:relative;
    bottom:0;
    left:0;
    color: #fff;
    cursor:pointer;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .botstoresidenavfullwidth a {font-size: 18px;}
}

/* SETTINGS PUSH MENU UP FULL WIDTH*/
/* The side navigation menu */
.settingssidenavfullwidth {
    height: 0%; /* 0 height - change this with JavaScript */
    width: 100%; /* 100% Full-width */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    bottom: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.7s; /* 0.7 second transition effect to slide in the sidenav */
}

.settingssidenavfullwidth h1{
    color:#fff;
}

/* The navigation menu links */
.settingssidenavfullwidth a {
    padding: 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.settingssidenavfullwidth a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.settingssidenavfullwidth .seclosebtnfw {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.semouseovermenufw {
    position:relative;
    bottom:0;
    left:0;
    color: #fff;
    cursor:pointer;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .settingssidenavfullwidth a {font-size: 18px;}
}

/* PUSH MENU RIGHT FULL WIDTH*/
/* The side navigation menu */
.leftsidenavfullwidth {
    height: 100%; /* 100% Full-height */
    width: 0%; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.7s; /* 0.7 second transition effect to slide in the sidenav */
}

.leftsidenavfullwidth h1{
    color:#fff;
    text-align: center;
}

/* The navigation menu links */
.leftsidenavfullwidth a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.leftsidenavfullwidth a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.leftsidenavfullwidth .lftclosebtnfw {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.lftmouseovermenufw {
    position:absolute;
    top:0;
    left:0;
    width:49px;
    color: #fff;
    border:1px solid #fff;
    border-radius: 20%;
    cursor:pointer;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
.lftmainfw {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .leftsidenavfullwidth {padding-top: 15px;}
    .leftsidenavfullwidth a {font-size: 18px;}
}

/* PUSH MENU RIGHT*/
/* The side navigation menu */
.leftsidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.leftsidenav h1{
    color:#fff;
    padding: 8px 8px 8px 32px;
}

/* The navigation menu links */
.leftsidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.leftsidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.leftsidenav .lftclosebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.lftmouseovermenu{
    position:absolute;
    top:50px;
    left:0;
    width:49px;
    color: #fff;
    border:1px solid #fff;
    border-radius: 20%;
    margin-top:15px;
    cursor:pointer;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
.lftmain {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .leftsidenav {padding-top: 15px;}
    .leftsidenav a {font-size: 18px;}
}

/* PUSH MENU LEFT FULL WIDTH*/
/* The side navigation menu */
.rightsidenavfullwidth {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.7s; /* 0.7 second transition effect to slide in the sidenav */
}

.rightsidenavfullwidth h1{
    color:#fff;
    text-align:center;
}

/* The navigation menu links */
.rightsidenavfullwidth a {
    padding: 8px 32px 8px 8px;
    text-align:right;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.righrsidenavfullwidth a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.rightsidenavfullwidth .rgtclosebtnfw {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
    margin-right: 50px;
}

.rgtmouseovermenufw{
    position:absolute;
    top:0;
    right:0;
    width:49px;
    color: #fff;
    border:1px solid #fff;
    border-radius: 20%;
    cursor:pointer;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
.rgtmainfw {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .rightsidenavfullwidth {padding-top: 15px;}
    .rightsidenavfullwidth a {font-size: 18px;}
}

/* PUSH MENU LEFT*/
/* The side navigation menu */
.rightsidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.rightsidenav h1{
    color:#fff;
    text-align:right;
    padding: 8px 32px 8px 8px;
}

/* The navigation menu links */
.rightsidenav a {
    padding: 8px 32px 8px 8px;
    text-align:right;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.righrsidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.rightsidenav .rgtclosebtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
    margin-right: 50px;
}

.rgtmouseovermenu{
    position:absolute;
    top:50px;
    right:0;
    width:49px;
    color:#fff;
    border:1px solid #fff;
    border-radius: 20%;
    margin-top:15px;
    cursor:pointer;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
.rgtmain {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .rightsidenav {padding-top: 15px;}
    .rightsidenav a {font-size: 18px;}
}
/*
.fa-comments-o, .fa-home, .fa-envelope-o, .fa-bell-o {
    font-size: 35px;
    display: block;
    text-align:center;
    padding:7px
}
*/
.contatorBotaoMenuRapido{
    height: 25px;
    width: 25px;
    background-color: #FFAC3A;
    border-radius: 50%;
    border: 5px solid #FEC93F;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    left: -10px;
    bottom:  -10px;

}