
.circulo {
    width: 180px;
    height: 180px;
    border: 10px solid #8aef88;
    overflow: hidden;
    position: relative;
    float:left;
    background-color: #c7f2c6;
    margin-right: 4px;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -webkit-border-radius: 125px;
    -moz-border-radius: 125px;
    border-radius: 125px;
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    transition: all 400ms linear;

}
.circulo span {
    position: absolute;
    left: 50%;
    top: 50%;
    color: #737c72;
    font-weight: bold;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}
.LayoutFluxo{
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}


.item {
    width:14em;
    height:4em;
    line-height:4em;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    border: 1px solid transparent;
    background-color: #98AFC7;
    color: #ffffff;
    margin:50px;
}
.itemPositivo{
    background-color: #9CB071;
    color: #ffffff;
    border-color: #7ab02c;
}
.itemNegativo {
    background-color: #C34A2C;
    color: #ffffff;
}
.flow-label {
    font-size: 24px;
    font-weight: bold;
    color: #816A51;
}
