.OrganizadorContainer {
    margin-top: 16px;
}
.container-flex {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap; /* ESSENCIAL PARA IR PRA BAIXO NO MOBILE */
}
.card-content {
    width: 100%;
    margin: 0 64px;
    background: white;
    border-radius: 12px;
    padding: 25px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.step-content {
    width: 100%;
    display: flex;
    margin: 16px;
    justify-content: center;
}
.ui-steps .ui-steps-item .ui-steps-number {
    background-color: #60a36c !important;
    border-radius: 10% !important;
}
.ui-steps-item.ui-state-highlight {
    border: 1px solid #60a36c !important;
}
.ui-steps .ui-steps-item {
    border: 1px solid #60a36c !important;
}



.step-nav-button,
.step-nav-button:link,
.step-nav-button:visited,
.step-nav-button:hover,
.step-nav-button:active {
    color: #60a36c !important; /* sua cor */
    text-decoration: underline !important;
}
.step-nav-button.ui-state-disabled {
    color: #999 !important;
    cursor: not-allowed !important;
    pointer-events: none !important;
}



.card-lateral {
    width: 100%;
    max-width: 500px;
    background: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-lateral span {
    display: block;
    text-align: center;
}
.ui-fieldset {
    background: #FFFFFF !important;
    border-radius: 8px !important;
}


.step-buttons {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.btn-nav {
    font-size: 15px;
    padding: 10px 18px;
    margin: 8px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s ease;
    text-decoration: none !important;
}
.btn-nav:visited {
    background-color: #60a36c !important;
    text-decoration: none !important;
}

.btn-primary {
    background: #60a36c;
    color: white !important;
    border: none;
}
.btn-primary:hover {
    background: #4b8456;
}
.btn-primary:focus {
    background: #4b8456 !important;
}
.btn-primary:hover:active {
    background: #4b8456 !important;
}

.btn-outline {
    border: 1px solid #60a36c;
    color: #60a36c !important;
}
.btn-outline:hover {
    background: #f1f8f3;
}

.btn-nav.ui-state-disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.card-reserva-confirmar {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .container-flex {
        flex-direction: column;
        align-items: center;
    }
    .card-content {
        max-width: 100%;
        width: 80%;
        margin: 0 1rem; /* respiro lateral */
        /*padding: 1.25rem;*/
    }
    .step-content {
        flex-direction: column;
        gap: 12px;
        align-items: center; /* faz os steps ocuparem 100% */
    }
    .step-buttons {
        flex-direction: column;
        gap: 12px;
    }
}

